@page
@model BasicDesk.App.Areas.Management.Pages.Solutions.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center">Create a Solution</h2>
<hr />

<form method="post" class="form-horizontal" enctype="multipart/form-data">
    @Html.InputFormGroupFor(m => m.Model.Title)
    @Html.TextAreaFormGroupFor(m => m.Model.Content)
    <input class="center-block" asp-for="Model.Attachments" type="file" multiple />
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-page="/Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}