@model ApprovalCreationViewModel

<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Submit for Approval</h3>
            </div>
            <form asp-area="" asp-controller="requests" asp-action="AddApproval" asp-route-requestId="@Model.RequestId" method="post">
                <div class="modal-body">
                    <label>To</label>
                    <select asp-for="ApproverId" name="approverId" class="form-control">
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.Value">@user.Text</option>
                        }
                    </select>
                    <br>
                    <label asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" name="subject">
                    <span asp-validation-for="Subject" class="text-danger"></span>
                    <br>
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" name="description" rows="4" style="min-width: 100%; resize:none;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}