<div class="modal fade modal-wide" id="mergeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="overflow:inherit">
            <div class="modal-body modal-wide" id="tableModalDiv">

            </div>
            <div class="modal-footer" style="padding-bottom:50px">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="mergeReq" href="https://google.com">Merge</button>
            </div>
        </div>
    </div>
</div>
