@using BasicDesk.Common.Constants
 <nav class="navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
         <div class="navbar-header">
             <a class="navbar-brand" href="/requests">BasicDesk</a>
         </div>
         <ul class="nav navbar-nav">
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Services
                     <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a asp-area="" asp-controller="Requests" asp-action="Index">Requests</a></li>
                     <li><a asp-area="" asp-controller="Solutions" asp-action="Index">Solutions</a></li>
                     <li><a asp-area="" asp-page="/Chat">Chat</a></li>
                 </ul>
             </li>
             @if (User.IsInRole(WebConstants.AdminRole))
             {
                 <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         Admin Panel
                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li><a asp-area="Management" asp-controller="Users" asp-action="Index">Users</a></li>
                         <li><a asp-area="Management" asp-controller="Categories" asp-action="Index">Categories</a></li>
                         <li><a asp-area="Management" asp-controller="Statuses" asp-action="Create">Create Request Status</a></li>
                         <li><a href="/Management/Reports">Reports</a></li>

                     </ul>
                 </li>
             }
         </ul>
         <partial name="_LoginPartial" />
     </div>
</nav>  
<br />

