@model IEnumerable<RequestNoteViewModel>

@if (Model.Any())
{
    var id = Model.First().RequestId + "Notes";
    <div class="modal fade" id="@id" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="overflow:inherit">
                <div class="modal-body modal-wide">
                    @{
                        foreach (var note in Model)
                        {
                            <div class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading clearfix">
                                        <div class="pull-left"><strong>Author:</strong> @note.Author</div>
                                        <div class="pull-right"><strong>Created On:</strong> @note.CreationTime</div>
                                    </div>
                                    <div class="panel-body">
                                        <strong>Description</strong>
                                        <p>@note.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

