@using BasicDesk.Common.Constants
@model SolutionTablesViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-6">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th class="text-center" style="background-color:#36648B; color:white">Most Recent</th>
        </tr>
        <tbody>
            @Html.DisplayFor(m => m.MostRecent)
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table class="table table-hover table-striped table-bordered col-md-6">
        <tr>
            <th class="text-center" style="background-color:#36648B; color:white">Most Viewed</th>
        </tr>

        <tbody>
            @Html.DisplayFor(m => m.MostViewed)
        </tbody>
    </table>
</div>

@if (User.IsInRole(WebConstants.AdminRole) || User.IsInRole(WebConstants.HelpdeskRole))
{
    <div class="text-center">
        <a asp-area="Management" asp-controller="Solutions" asp-action="Create" class="btn btn-lg btn-primary">
            Create Solution <i class="glyphicon-plus"></i>
        </a>
    </div>
    <br />
}