@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row col-md-4 col-md-offset-4">
    <h2  class="text-center">@ViewData["Title"]</h2>
    <section>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-success">Log in</button>
            </div>
            <div class="form-group">
                    <a asp-page="./ForgotPassword" class="pull-left">Forgot your password?</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="pull-right">Register as a new user</a>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
