@model UserDetailsViewModel

<h2 class="text-center">Unban @Model.UserName</h2>
<hr />
<form class="form-horizontal center-block" method="post">
    @Html.DisplayForModel()
    <div class="col-sm-10 col-sm-push-2">
        <input type="submit" value="Unban" class="btn btn-success" />
    </div>
</form>
