/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jumbotron {
    background-color: white;
    color: black;
}

textarea {
    width: 100% !important;
}

hr {
    margin: 5px 5px;
}

hr {
    border-style: solid;
    border-width: 1px;
}

.panel {
    background: #C6E2FF;
}

.panel-heading {
    background-color: cornflowerblue;
    color: white;
}

.panel-footer {
    background-color: cornflowerblue;
    color: white;
}

.table {
    background-color: #C6E2FF;
    color: black;
}

table, td, th {
    border: 2px solid black;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
}

.navbar-inverse {
    background-color: #1C86EE;
    border-color: #080808;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #42C0FB;
    }

.dropdown-menu {
    background: #42C0FB;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
    background: #42C0FB;
    color: white;
}

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background-color: #1C86EE;
    }
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #42C0FB;
    color: white;
}
